@model List<Player>

 <h1>All-Star Team</h1>
    <p>For the time period @SearchInfo.StartYear to @SearchInfo.EndYear here is a roster of the top 12 pitchers and 13 position players @SearchInfo.Display: (see bottom for abbreviation meanings)</p>
    <h3>Rotation:</h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "rotation")
                {
                    <tr>
                        <td id="position">@pitcher.Position</td>
                        <td id="player"><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War.ToString("0.0")</td>
                        <td>@pitcher.Era.ToString("0.00")</td>
                        <td>@pitcher.Whip.ToString("0.00")</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
        <h3>Bullpen:</h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "bullpen")
                {
                    <tr>
                        <td id="position">@pitcher.Position</td>
                        <td id="player"><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War.ToString("0.0")</td>
                        <td>@pitcher.Era.ToString("0.00")</td>
                        <td>@pitcher.Whip.ToString("0.00")</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
    <h3>Starters:</h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>dWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "starter")
                {
                    <tr>
                        <td id="position">@batter.Position</td>
                        <td id="player"><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War.ToString("0.0")</td>
                        <td>@batter.Avg.ToString(".000")</td>
                        <td>@batter.Obp.ToString(".000")</td>
                        <td>@batter.Slg.ToString(".000")</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
        <h3>Reserves:</h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>dWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "reserve")
                {
                    <tr>
                        <td id="position">@batter.Position</td>
                        <td id="player"><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War.ToString("0.0")</td>
                        <td>@batter.Avg.ToString(".000")</td>
                        <td>@batter.Obp.ToString(".000")</td>
                        <td>@batter.Slg.ToString(".000")</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
        <h3>Honorable Mention - Pitchers:</h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "mention pitcher")
                {
                    <tr>
                        <td id="position">@pitcher.Position</td>
                        <td id="player"><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War.ToString("0.0")</td>
                        <td>@pitcher.Era.ToString("0.00")</td>
                        <td>@pitcher.Whip.ToString("0.00")</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
    <h3>Honorable Mention - Position Players:</h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>dWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "mention batter")
                {
                    <tr>
                        <td id="position">@batter.Position</td>
                        <td id="player"><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War.ToString("0.0")</td>
                        <td>@batter.Avg.ToString(".000")</td>
                        <td>@batter.Obp.ToString(".000")</td>
                        <td>@batter.Slg.ToString(".000")</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
    <br>
    <p>Pos = Position, WAR = Wins Above Replacement, ERA = Earned Run Average, WHIP = Walks + Hits Per Inning Pitched, W = Wins, SV = Saves, K = Strikeouts, IP = Innings Pitched, AVG = Batting Average, OBP = On Base Percentage, SLG = Slugging Percentage, R = Runs, H = Hits, HR = Home Runs, RBI = Runs Batted In, SB = Stolen Bases, dWAR = Defensive Wins Above Replacement, PA = Plate Appearances</p>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Index">Start a New Search</a>
    <br>
    <p>Search took @SearchInfo.Time seconds</p>
    <br>
