@model List<Player>

 <h1>All-Star Team</h1>
    <p>For the time period @SearchInfo.StartYear to @SearchInfo.EndYear here is a roster of the top 12 pitchers and 13 position players @SearchInfo.Display:</p>
    <h3><u>Rotation:</u></h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "rotation")
                {
                    <tr>
                        <td>@pitcher.Position</td>
                        <td><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War</td>
                        <td>@pitcher.Era</td>
                        <td>@pitcher.Whip</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
        <h3><u>Bullpen:</u></h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "bullpen")
                {
                    <tr>
                        <td>@pitcher.Position</td>
                        <td><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War</td>
                        <td>@pitcher.Era</td>
                        <td>@pitcher.Whip</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
    <h3><u>Starters:</u></h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>defWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "starter")
                {
                    <tr>
                        <td>@batter.Position</td>
                        <td><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War</td>
                        <td>@batter.Avg</td>
                        <td>@batter.Obp</td>
                        <td>@batter.Slg</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
        <h3><u>Reserves:</u></h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>defWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "reserve")
                {
                    <tr>
                        <td>@batter.Position</td>
                        <td><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War</td>
                        <td>@batter.Avg</td>
                        <td>@batter.Obp</td>
                        <td>@batter.Slg</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
        <h3><u>Honorable Mention - Pitchers:</u></h3>
        <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>ERA</th>
                <th>WHIP</th>
                <th>W</th>
                <th>SV</th>
                <th>K</th>
                <th>IP</th>
            </tr>
            @foreach (var pitcher in Model)
            {
                @if (pitcher.Role == "mention pitcher")
                {
                    <tr>
                        <td>@pitcher.Position</td>
                        <td><a href="@pitcher.Link">@pitcher.Name</a></td>
                        <td>@pitcher.War</td>
                        <td>@pitcher.Era</td>
                        <td>@pitcher.Whip</td>
                        <td>@pitcher.Wins</td>
                        <td>@pitcher.Saves</td>
                        <td>@pitcher.Strikeouts</td>
                        <td>@pitcher.Innings</td>
                    </tr>
                }
                
            }
        </table>
    <h3><u>Honorable Mention - Position Players:</u></h3>
            <table class="table">
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>WAR</th>
                <th>AVG</th>
                <th>OBP</th>
                <th>SLG</th>
                <th>R</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>SB</th>
                <th>defWAR</th>
                <th>PA</th>
            </tr>
            @foreach (var batter in Model)
            {
                @if (batter.Role == "mention batter")
                {
                    <tr>
                        <td>@batter.Position</td>
                        <td><a href="@batter.Link">@batter.Name</a></td>
                        <td>@batter.War</td>
                        <td>@batter.Avg</td>
                        <td>@batter.Obp</td>
                        <td>@batter.Slg</td>
                        <td>@batter.Runs</td>
                        <td>@batter.Hits</td>
                        <td>@batter.HomeRuns</td>
                        <td>@batter.RBI</td>
                        <td>@batter.Steals</td>
                        <td>@batter.DWar</td>
                        <td>@batter.PlateAppearances</td>
                    </tr>
                }
                
            }
        </table>
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Index">Start a New Search</a>
    <br>
    <p>@SearchInfo.Time seconds</p>
    <br>
    <p>Created by <a href ="http://tim-honchel.github.io" target="_blank">Tim Honchel</a>. 2022. All statistics from FanGraphs.</p>
